h1 {
  text-align: center;
}

.imageContainer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  -webkit-box-shadow: 1px 2px 11px -1px #000000; 
  box-shadow: 1px 2px 11px -1px #000000;
}

.imageContainer img {
  width: 100%;
}